@page "/"
@using SkiaSharp.Views.Blazor

<PageTitle>Index</PageTitle>

<div class="parent">
    <div class="box">
        <SKCanvasView OnPaintSurface="@OnPaintSurface" EnableRenderLoop="true"/>
    </div>
    <div class="text-center">Guess the color in Hex!</div>
    <EditForm EditContext="@EditContext">
        <DataAnnotationsValidator />
        <InputText class="input-box" id="color" placeholder="#000000" name="name" Value="@Color" ValueChanged="OnChanged" ValueExpression="()=>_inputColor.Color"/>
    </EditForm>
    <div class="text-center">Correct Count:@CorrectCount</div>
    <div class="text-center">@CurrentColorHex</div>
    @switch (Status)
    {
        case ColorGuessingResultStatus.Incorrect:
            <div class="text-center">Wrong!</div>
            break;
        case ColorGuessingResultStatus.WrongFormat:
            <div class="text-center">Wrong Format!</div>
            break;
        case ColorGuessingResultStatus.Close:
            <div class="text-center">Close!</div>
            <div class="text-center">Actual:@PreviousColorHex</div>
            break;
        default:
            break;
    }
</div>